# Frontend
streamlit>=1.30.0
pandas>=2.0.0
python-dotenv>=1.0.0

# Backend
fastapi>=0.100.0
uvicorn>=0.22.0
python-multipart>=0.0.6
langchain>=0.0.300
langchain-openai>=0.0.3
pydantic>=2.0.0
tabulate
langchain_community

# Utilitários comuns
numpy>=1.26.0